# Python
__pycache__/
*.py[cod]
*$py.class
*.png
# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

# Variáveis de Ambiente
.env

# Testes e Cobertura
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# Build / Dist
build/
dist/
*.egg-info/
